.product-card {
  width: 250px;
  padding: 20px;
  border: 2px solid #333;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
}


.product-card h3,
.product-card p {
  margin: 0;
  padding: 0;
}


.product-card img {
  width: 100%; 
  height: auto;
  display: block;
  margin-bottom: 16px; 
}

.product-card h3 {
  margin-bottom: 10px; 
}


.product-card h3 {
  font-size: 18px;
  font-weight: bold;
}

.product-card p {
  font-size: 16px;
  color: #222;
}